<h1>Here is your trip summary</h1>


<div class="pure-u-1" >
<img src="<%= @trip.map_image %>">


<h2>You'll be seeing:</h2>
<div class="pure-u-1-3">
<ul>
    <% @trip.pois.each do |stop| %>
        <%= stop.name %>
        <br>
    <% end %>
</ul>
</div>
</br>
</br>


	<div class="pure-menu pure-menu-scrollable custom-restricted">
    <a class="pure-menu-link pure-menu-heading">Directions</a>
    <ol class="pure-menu-list">
    <% counter = 1 %>
    <% @trip.directions.each do |step| %>
			 <li class="pure-menu-item"><%=counter%>. <%= raw(step) %></li></br>
       <% counter +=1 %>
       biding.pry
    <% end %>
  </ol>
</div>
