<div class="pure-u-1">
	<%= form_tag("/users/#{@user_id}/locations") do %>
		<%= render 'welcome/form' %>
	<% end %>
</div>

<div class="pure-u-1 footer">

	<%= render '/trips/trip_random' %>

</div>

