		<form class = "pure-u-1 pure-form">
			<fieldset>
				<legend>Search For Your Destination:</legend>
    		<%= search_field_tag :q, nil, size: 80 %>
    		<button class="button-success pure-button" style="background: rgb(28, 184, 65)">Search</button>
			</fieldset>
  </form>
