		<form class = "pure-u-1 pure-form">
			<fieldset class="field">
				<legend><h2 class="banner">Search For Your Destination</h2></legend>
    		<%= search_field_tag :q, nil, size: 75 %>
    		<button class="button-success pure-button-primary search">Search</button>
			</fieldset>
  </form>