<div class="pure-u-1">
<%= form_tag('/welcome/search', method: 'get') do %>
		<%= render 'welcome/form' %>
	<% end %>


<div class="pure-u-1 footer">

<h2 class="banner">Here are trips other users have created:</h2>
	<br>
		<%= render '/trips/trip_random' %>

</div>
