<h3>Points of Interest in <%= @location[:name] %> </h3> 

	<% @suggestions.each do |sugg| %>
		<%= sugg["name"] %> <br>
	<% end %>

<%= form_tag new_user_path, method:'get' do %>
<%= button_tag 'Must Login to Continue' %>
<% end %>