<div class="photo-cont">
    <div class="image shadow">
	<img class="pure-u-1-1" style="height:200px; width:200px" src="<%= poi[:img_url] %>" alt="<%= poi.name %>">
	<h4 class="name"><span><%= poi.name %></span></h4>
        <br>
	<%= check_box_tag "place_ids[]", value="#{poi[:google_place]}" %>
    </div>
</div>
