<!--add dynamic location to h3 tag-->

<h3>Here's the places you've bookmarked</h3>


<%= form_tag user_location_pois_path do %>
	<% @pois.each do |poi| %>
		<%= render partial: 'poi', locals: {poi: poi} %>
	
		<% end %>
	<br>
	<%= submit_tag 'git it gurl' %>


	
<% end %>