
<h3>Points of Interest in </h3>

<%= form_tag @trips do %>
	
	<% @map.each do |poi| %>
		<input type="checkbox">
		<%= render 'poi', poi: poi %>
		<br>
	<% end%>
	<br>

<%= submit_tag 'make that trip bitch' %>

<% end %>
