<!--add dynamic location to h3 tag-->
<form class="pure-form pure-form-stacked">
<h1 class="pure-u-1">Points of Interest in <%= @location.name %> </h1> 

<div class = "pure-u-1">
<%= form_tag user_location_pois_path(@user_id, @location) do |f| %>
	<% @suggestions.each do |sugg| %>
		<%= render partial: '/pois/poi_form', locals: {poi: sugg} %>
		<% end %>
	</br></br>
	<button class="pure-button pure-button-primary"> Bookmark Places</button>
<% end %>
</form>
