<!--add dynamic location to h3 tag-->

<h1 class="pure-u-1">Points of Interest in <%= @location.name %> </h1> 

<div class = "pure-u-1">
<%= form_tag(user_location_pois_path(@user_id, @location), class: "pure-form pure-form-stacked") do |f| %>
	<% @suggestions.each do |sugg| %>
		<%= render partial: '/pois/poi_form', locals: {poi: sugg} %>
		<% end %>
	</br></br>
	<%= submit_tag "Bookmark Places", class:"pure-button pure-button-primary" %>
<% end %>
</div>