<div class ="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-u-1 pure-menu-list">
      <li class="pure-menu-item"><%= link_to('CREATE USER', new_user_path, class: "pure-menu-link")%></li>
      <li class="pure-menu-item"><%= link_to('LOG IN',new_sessions_path, class: "pure-menu-link")%></li>
    </ul>
</div>
</div>