<!DOCTYPE html>
<html>
    <head>
        <title>Trippy</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">
    </head>
    <body>
        <div class="container">
           <div class="pure-g">
            <%= yield %>
            </div>
        </div>
    </body>
</html>
